[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
bs4 = "*"
selenium = "4.5.0"
requests = "*"
webdriver_manager = "3.8.3"
requests_html = "0.10.0"

[dev-packages]

[requires]
python_version = "3.8"
